.pr-form {
	display: grid;
	padding-block: 2rem;
	&__vertical {
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	&--row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	}
}
